# Dossier de build pour les .o et .d
build
build_debug

# binaires du moteur 
chess_engine
chess_engine_debug
# + binaire de versionning
versions

# Dossier pour la version actuelle
chess_engine/

# DS_Store
.DS_Store

# Fastchess 
fastchess-mac-arm64

# testing 
logs/
openings/
pgn_results/

# MMD 
/docs/*.mmd


# cache python
GUI/__pycache__/

# CodeQL detection
_codeql_detected_source_root
tests/config.json

/lichess-bot/config.yml
/lichess-bot/venv/

/lichess-bot


# VSCode settings
.vscode/