# Dossier de build pour les .o et .d
build
build_debug

# binaires du moteur 
chess_engine
chess_engine_debug
# + binaire de versionning
versions

# DS_Store
.DS_Store

# Fastchess 
fastchess-mac-arm64

# testing 
logs/
openings/
pgn_results/



